<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="~{fragments/head}"/>

<!-- Navbar -->
<th:block th:include="~{fragments/navbar}"/>
<!-- EO: Navbar -->
<body style="background-image: none">

<script type="text/javascript">
    $(document).ready(function () {
        let navlinks = document.querySelectorAll(".dest-menu .text-uppercase a");

        let currentURL = window.location.href;

        for (let i = 0; i < navlinks.length; i++) {
            if (currentURL == navlinks[i]) {
                navlinks[i].classList.add("active");
            }
        }

        $(document).on("click", ".open-delete-hotel-dialog", function () {
            $("#deleteHotelId").val($(this).data('id'));
        });
    });
</script>

<div class="page-section">
    <div class="inner-section-secondary py-5 d-block">
        <div class="page-heading text-center mb-4">
            <h2 class="text-dark">OUR HOTELS</h2>
            <p class="secondary-heading text-info">Choose Your Next Hotel</p>
        </div>
        <div class="container">

            <!-- Section: Sidebar -->
            <section>

                <div class="row">
                    <div class="col-md-4 col-lg-3 mb-4 mb-lg-4">
                        <!-- Section: Destinations -->
                        <section class="dest-menu mb-5">
                            <h5 class="mb-3 text-dark">Destinations</h5>

                            <div class="text-uppercase mb-2">
                                <a th:href="@{/hotels}" class="card-link">All
                                </a>
                            </div>

                            <div class="text-uppercase mb-2" th:each="destination : ${destinations}">
                                <a th:href="@{/hotels/destination/{id}(id=${destination.id})}"
                                   class="card-link"
                                   th:text="${destination.name}">
                                </a>
                            </div>

                        </section>
                        <!-- Section: Destinations End -->

                        <!-- Section: Price -->
                        <!--<section class="mb-5">

                            <h5 class="mb-3 text-dark">Price</h5>

                            <div class="form-check mb-2">
                                <input type="radio" class="form-check-input" id="under100" name="materialExampleRadios">
                                <label class="form-check-label small text-uppercase card-link text-secondary"
                                       for="under100">Under
                                    €100</label>
                            </div>
                            <div class="form-check mb-2">
                                <input type="radio" class="form-check-input" id="100to250" name="materialExampleRadios">
                                <label class="form-check-label small text-uppercase card-link text-secondary"
                                       for="100to250">€100 to
                                    €250</label>
                            </div>
                            <div class="form-check mb-2">
                                <input type="radio" class="form-check-input" id="250to400" name="materialExampleRadios">
                                <label class="form-check-label small text-uppercase card-link text-secondary"
                                       for="250to400">€250 to
                                    €400</label>
                            </div>
                            <div class="form-check mb-2">
                                <input type="radio" class="form-check-input" id="400above" name="materialExampleRadios">
                                <label class="form-check-label small text-uppercase card-link text-secondary"
                                       for="400above">€400 &
                                    Above</label>
                            </div>

                        </section>-->
                        <!-- Section: Price End -->
                    </div>

                    <!-- Section: Hotels -->
                    <div class="col-md-8 col-lg-9 mb-4 mb-lg-4">
                        <div class="row">

                            <div class="col-md-12 col-lg-6 mb-4 mb-lg-4 text-center" th:each="hotel : ${hotels}">
                                <!-- Card -->
                                <div class="card-hotel h-100 border-0">

                                    <div class="card-hotel-img d-block">
                                        <img class="card-img-top" th:src="@{${'../../images/hotel/' + hotel.imgSrc}}"
                                             alt="Hotel">
                                        <div class="effect d-block"></div>
                                    </div>

                                    <div class="card-details">
                                        <div class="card-body">
                                            <div class="hotel-info text-left text-dark">
                                                <h5 class="hotel-name-text" th:text="${hotel.name}"></h5>

                                                <div class="hotel-dest-and-min-price">
                                                    <div class="hotel-dest">
                                                        <span class="icon d-inline-block">
                                                            <i class="fas fa-map-marker-alt text-info"></i>
                                                        </span>
                                                        <h6 class="hotel-dest-text d-inline-block text-info"
                                                            th:text="${hotel.destination.name}"></h6>
                                                    </div>
                                                    <div class="hotel-min-price">
                                                        <span class="icon d-inline-block">
                                                            <i class="fas fa-euro-sign text-info"></i>
                                                        </span>
                                                        <h6 class="hotel-min-price-text d-inline-block text-info"
                                                            th:text="${'From €' + hotel.classicRoomPricePerNight.setScale(0) + '/night'}"></h6>
                                                    </div>
                                                </div>

                                                <p class="text-secondary mb-1"
                                                   th:text="${#strings.abbreviate(hotel.description, 94)}"></p>
                                            </div>

                                            <div class="card-hotel-buttons d-flex flex-column align-items-start">
                                                <div class="user-buttons mb-2">
                                                    <a class="btn btn-info text-white"
                                                       th:href="@{/hotels/hotel/{id}(id=${hotel.id})}"
                                                       sec:authorize="hasAuthority('USER')">View Details</a>

                                                    <a class="btn btn-outline-info ml-2"
                                                       th:href="@{/booking/hotel/{id}(id=${hotel.id})}"
                                                       sec:authorize="hasAuthority('USER')">Book Now</a>
                                                </div>

                                                <div class="admin-buttons" sec:authorize="hasAuthority('ADMIN')">

                                                    <a th:href="@{/hotels/edit/{id}(id=${hotel.id})}"
                                                       sec:authorize="hasAuthority('ADMIN')"
                                                       class="btn btn-success">Edit</a>

                                                    <a sec:authorize="hasAuthority('ADMIN')">
                                                        <button class="open-delete-hotel-dialog btn btn-danger ml-2"
                                                                type="button"
                                                                data-toggle="modal"
                                                                data-target="#deleteHotelModal"
                                                                th:data-id="*{hotel.id}">Delete
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- Card End -->
                            </div>

                        </div>
                    </div>
                    <!-- Section: Hotels End -->

                </div>


            </section>
            <!-- Section: Sidebar End -->
        </div>
    </div>
</div>


<!--Delete hotel-->
<div sec:authorize="hasAuthority('ADMIN')" th:replace="hotel/hotels-delete :: delete-hotel"></div>
<!--Delete hotel-->

</body>
</html>