<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="~{fragments/head}"/>

<!-- Navbar -->
<th:block th:include="~{fragments/navbar}"/>
<!-- EO: Navbar -->
<body>

<div class="page">
    <div class="page-section">
        <div class="inner-section mt-5 d-block">
            <div class="page-heading text-center">
                <h2>OUR HOTELS</h2>
                <p class="secondary-heading">Choose Your Next Hotel</p>
            </div>
            <div class="container">

            </div>
        </div>
    </div>
</div>

</body>
</html>