<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="~{fragments/head}"/>

<!-- Navbar -->
<th:block th:include="~{fragments/navbar}"/>
<!-- EO: Navbar -->
<body style="background-image: none">

    <div class="page-section">
        <div class="inner-section-secondary py-5 d-block">
            <div class="page-heading text-center mb-4">
                <h2 class="text-dark">OUR HOTELS</h2>
                <p class="secondary-heading text-info">Choose Your Next Hotel</p>
            </div>
            <div class="container">

            </div>
        </div>
    </div>

</body>
</html>