<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:include="~{fragments/head}"/>

<!-- Navbar -->
<th:block th:include="~{fragments/navbar}"/>
<!-- EO: Navbar -->
<body>

<div class="page">
    <div class="main container">
        <div class="discover-heading text-center">
            <h2>Discover the colorful world</h2>
            <h1>NEW EXPERIENCE</h1>
            <h4>Let's Make Your Best Trip Ever</h4>
        </div>
        <div class="discover-button">

            <a th:href="@{/register}">
                <button id="disc-btn" type="button" class="btn btn-dark">DISCOVER NOW</button>
            </a>
        </div>
    </div>
</div>

</body>
</html>